<ion-menu side="end" menuId="menu" contentId="main">
  <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">        
        <ion-label>
          <h2>{{ uname }}</h2>
          <p>{{ uape }}</p>
        </ion-label>
        <img src="../../../assets/images/user.png" alt="">
      </div>

      <ion-list class="menu-items" lines="none">
          <ion-item *ngFor="let c of componentes | async" detail [routerLink]="c.redirecTo">
            <ion-icon slot="start" name="{{c.icon}}"></ion-icon>{{ c.name }}
          </ion-item>
        <ion-item detail (click)="cerrars()" routerLink="/"> 
          <ion-icon name="log-out"></ion-icon>Cerrar sesión
        </ion-item>
      </ion-list>
  </ion-content>
</ion-menu>