<app-header titulo="Perfil"></app-header>

<ion-content> 
    <div class="header-content">        
      <ion-label>
        <h2>{{name}}</h2>
        <p>{{ape}}</p>
      </ion-label>
      <img src="../../../assets/images/user.png" alt="">
    </div>


    <div class="ion-padding cen">


      <form [formGroup]="validationForm" (ngSubmit)="cambiar()" class="ion-padding">
        <div class="wrap-input">
          <div class="posmen" *ngFor="let error of errorMessages.passold">
            <ng-container *ngIf="passold.hasError(error.type) && (passold.dirty || passold.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <input class="input" formControlName="passold" type="password" name="passo" placeholder="Antigua contraseña">
        </div>
        <div class="wrap-input">
          <div class="posmen" *ngFor="let error of errorMessages.passnew">
            <ng-container *ngIf="passnew.hasError(error.type) && (passnew.dirty || passnew.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <input class="input" formControlName="passnew" type="password" name="pass" placeholder="Nueva contraseña">
        </div>
  
        <div class="container-form-btn">
          <button type="submit" [disabled]="!validationForm" class="form-btn custom-font"><b>Cambiar</b></button>
        </div>
      </form>
    </div>
</ion-content>
