<app-menu></app-menu>
<ion-tabs >
    <ion-tab-bar color="danger" slot="bottom" >
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="mapas">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
        <ion-tab-button tab="alertas">
          <ion-icon name="notifications-circle"></ion-icon>
          <ion-label>alerta</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
