
<ion-tabs>
    <ion-tab-bar slot="bottom" >
        <ion-tab-button tab="mapas">
          <ion-icon name="map-outline"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="eventos"> 
          <ion-icon name="analytics-outline"></ion-icon>
          <ion-label>Evento</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="alertas">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-label>alerta</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
