<ion-content fullscreen="true">


    <div class="cent">
      <img class="imgtam" src="../../../assets/images/logo.jpg">
    </div>
  <div class="ion-padding cen">


    <form [formGroup]="validationForm" (ngSubmit)="logear()" class="ion-padding">
      <div class="wrap-input">
        <div class="posmen" *ngFor="let error of errorMessages.user">
          <ng-container *ngIf="user.hasError(error.type) && (user.dirty || user.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <input class="input" formControlName="user" type="text" name="user" placeholder="Usuario">
      </div>
      <div class="wrap-input">

        

        
        <input class="input" formControlName="passw" type="password" name="pass" placeholder="Contraseña">
      </div>

      <div class="container-form-btn">
        <button type="submit" [disabled]="!validationForm" class="form-btn custom-font"><b>Ingresar</b></button>
      </div>
    </form>
  </div>

</ion-content>